In [2]:
# LIBRAIRIES IMPORT
# Data
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

# Visualisation
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
import seaborn as sns
import folium
# Metrics
from sklearn import metrics

# Elbow
from yellowbrick.cluster import KElbowVisualizer

In [3]:
data= pd.read_csv(r"C:\Users\rana_\OneDrive\Bureau\Final project\clusters_data.csv")

In [4]:
data

,Unnamed: 0,Code du département,Code de la commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Name,Voix,latitude,longitude,cluster,Candidat
0,0,55.0,55535.0,44,11,33,0,0,33,11,3,49.317453,5.647972,3,Éric ZEMMOUR
1,1,55.0,55535.0,44,11,33,0,0,33,4,5,49.317453,5.647972,3,Jean-Luc MÉLENCHON
2,2,55.0,55535.0,44,11,33,0,0,33,9,1,49.317453,5.647972,3,Valérie PÉCRESSE
3,3,55.0,55545.0,808,329,479,17,3,459,8,8,49.160479,5.378136,3,Philippe POUTOU
4,4,55.0,55545.0,1318,499,819,14,5,800,2,25,49.150832,5.400586,3,Fabien ROUSSEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724003,724003,62.0,62796.0,459,78,381,6,3,372,0,7,50.258141,2.643003,3,Anne HIDALGO
724004,724004,62.0,62801.0,1205,299,906,9,2,895,0,25,50.391562,2.742967,3,Anne HIDALGO
724005,724005,62.0,62803.0,440,75,365,6,4,355,3,13,50.742017,1.919849,3,Jean LASSALLE
724006,724006,62.0,62803.0,440,75,365,6,4,355,7,9,50.742017,1.919849,3,Nicolas DUPONT-AIGNAN
724007,724007,62.0,62808.0,213,30,183,1,1,181,7,2,50.451688,2.222171,3,Nicolas DUPONT-AIGNAN

In [5]:
data.drop(['Unnamed: 0'], axis = 1, inplace=True)
data

,Code du département,Code de la commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Name,Voix,latitude,longitude,cluster,Candidat
0,55.0,55535.0,44,11,33,0,0,33,11,3,49.317453,5.647972,3,Éric ZEMMOUR
1,55.0,55535.0,44,11,33,0,0,33,4,5,49.317453,5.647972,3,Jean-Luc MÉLENCHON
2,55.0,55535.0,44,11,33,0,0,33,9,1,49.317453,5.647972,3,Valérie PÉCRESSE
3,55.0,55545.0,808,329,479,17,3,459,8,8,49.160479,5.378136,3,Philippe POUTOU
4,55.0,55545.0,1318,499,819,14,5,800,2,25,49.150832,5.400586,3,Fabien ROUSSEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724003,62.0,62796.0,459,78,381,6,3,372,0,7,50.258141,2.643003,3,Anne HIDALGO
724004,62.0,62801.0,1205,299,906,9,2,895,0,25,50.391562,2.742967,3,Anne HIDALGO
724005,62.0,62803.0,440,75,365,6,4,355,3,13,50.742017,1.919849,3,Jean LASSALLE
724006,62.0,62803.0,440,75,365,6,4,355,7,9,50.742017,1.919849,3,Nicolas DUPONT-AIGNAN
724007,62.0,62808.0,213,30,183,1,1,181,7,2,50.451688,2.222171,3,Nicolas DUPONT-AIGNAN

In [6]:
#cluster analysis

In [9]:
#cluster 1 
cluster1_data=data.loc[data["cluster"]==0]
cluster1_data

,Code du département,Code de la commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Name,Voix,latitude,longitude,cluster,Candidat
1082,66.0,66001.0,80,13,67,1,1,65,5,12,42.477227,2.906828,0,Marine LE PEN
1083,66.0,66002.0,1034,217,817,6,6,805,2,48,42.640329,2.979204,0,Fabien ROUSSEL
1084,66.0,66007.0,127,22,105,2,1,102,1,21,42.663298,2.486269,0,Emmanuel MACRON
1085,66.0,66008.0,944,229,715,6,5,704,5,214,42.548997,3.020314,0,Marine LE PEN
1086,66.0,66008.0,1090,229,861,10,3,848,5,270,42.548997,3.020314,0,Marine LE PEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723253,77.0,77388.0,551,121,430,11,3,416,2,8,48.959163,3.143903,0,Fabien ROUSSEL
723254,77.0,77390.0,1107,246,861,14,4,843,4,214,48.793217,2.650566,0,Jean-Luc MÉLENCHON
723255,77.0,77390.0,961,186,775,14,2,759,0,5,48.793217,2.650566,0,Anne HIDALGO
723256,77.0,77390.0,1056,290,766,17,9,740,4,284,48.793217,2.650566,0,Jean-Luc MÉLENCHON
723257,77.0,77390.0,779,198,581,11,2,568,0,10,48.793217,2.650566,0,Anne HIDALGO

In [10]:
candidat_data = cluster1_data.groupby(['Candidat']).agg('Voix').sum()
candidat_data.sort_index(ascending=False)

Candidat
Éric ZEMMOUR              441439
Yannick JADOT             283150
Valérie PÉCRESSE          314484
Philippe POUTOU            44501
Nicolas DUPONT-AIGNAN     145106
Nathalie ARTHAUD           34522
Marine LE PEN            1476942
Jean-Luc MÉLENCHON       1256919
Jean LASSALLE             174557
Fabien ROUSSEL            121919
Emmanuel MACRON          1733738
Anne HIDALGO               97154
Name: Voix, dtype: int64

In [11]:
vote1= pd.DataFrame(candidat_data)

In [15]:
vote1

                          Voix
Candidat
Anne HIDALGO             97154
Emmanuel MACRON        1733738
Fabien ROUSSEL          121919
Jean LASSALLE           174557
Jean-Luc MÉLENCHON     1256919
Marine LE PEN          1476942
Nathalie ARTHAUD         34522
Nicolas DUPONT-AIGNAN   145106
Philippe POUTOU          44501
Valérie PÉCRESSE        314484
Yannick JADOT           283150
Éric ZEMMOUR            441439

In [18]:
vote1['proportion']= vote1['Voix']*100/6124431

In [19]:
vote1

                          Voix  proportion
Candidat
Anne HIDALGO             97154    1.586335
Emmanuel MACRON        1733738   28.308556
Fabien ROUSSEL          121919    1.990699
Jean LASSALLE           174557    2.850175
Jean-Luc MÉLENCHON     1256919   20.523033
Marine LE PEN          1476942   24.115579
Nathalie ARTHAUD         34522    0.563677
Nicolas DUPONT-AIGNAN   145106    2.369298
Philippe POUTOU          44501    0.726614
Valérie PÉCRESSE        314484    5.134910
Yannick JADOT           283150    4.623287
Éric ZEMMOUR            441439    7.207837

In [14]:
a = cluster1_data.groupby(['Candidat']).agg('Exprimés').sum()
a

Candidat
Anne HIDALGO             6124431
Emmanuel MACRON          6124431
Fabien ROUSSEL           6124431
Jean LASSALLE            6124431
Jean-Luc MÉLENCHON       6124431
Marine LE PEN            6124431
Nathalie ARTHAUD         6124431
Nicolas DUPONT-AIGNAN    6124431
Philippe POUTOU          6124431
Valérie PÉCRESSE         6124431
Yannick JADOT            6124431
Éric ZEMMOUR             6124431
Name: Exprimés, dtype: int64

In [7]:
#cluster 2 
cluster2_data=data.loc[data["cluster"]==1]
cluster2_data

,Code du département,Code de la commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Name,Voix,latitude,longitude,cluster,Candidat
16445,11.0,11330.0,349,50,299,3,4,292,5,86,43.218270,2.474731,1,Marine LE PEN
16446,11.0,11331.0,66,16,50,0,4,46,2,1,43.226698,1.887046,1,Fabien ROUSSEL
16447,11.0,11333.0,69,18,51,0,1,50,2,0,45.513096,4.899518,1,Fabien ROUSSEL
16448,11.0,11337.0,297,43,254,6,1,247,9,6,43.203059,2.629521,1,Valérie PÉCRESSE
16449,11.0,11338.0,33,9,24,1,0,23,4,5,43.000489,2.109821,1,Jean-Luc MÉLENCHON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718059,24.0,24064.0,95,20,75,2,0,73,4,17,45.360118,0.589990,1,Jean-Luc MÉLENCHON
718060,24.0,24064.0,176,32,144,2,1,141,2,0,45.381212,0.632451,1,Fabien ROUSSEL
718061,24.0,24064.0,176,32,144,2,1,141,11,13,45.381212,0.632451,1,Éric ZEMMOUR
718062,24.0,24064.0,193,22,171,3,1,167,2,4,45.381212,0.632451,1,Fabien ROUSSEL
718063,24.0,24064.0,193,22,171,3,1,167,0,4,45.381212,0.632451,1,Anne HIDALGO

In [8]:
candidat_data = cluster2_data.groupby(['Candidat']).agg('Voix').sum()
candidat_data.sort_index(ascending=False)

Candidat
Éric ZEMMOUR              289060
Yannick JADOT             171295
Valérie PÉCRESSE          197878
Philippe POUTOU            33409
Nicolas DUPONT-AIGNAN      91164
Nathalie ARTHAUD           24606
Marine LE PEN            1042771
Jean-Luc MÉLENCHON        778526
Jean LASSALLE             162559
Fabien ROUSSEL            108576
Emmanuel MACRON          1067719
Anne HIDALGO               75311
Name: Voix, dtype: int64

In [12]:
vote2= pd.DataFrame(candidat_data)
vote2

                          Voix
Candidat
Anne HIDALGO             75311
Emmanuel MACRON        1067719
Fabien ROUSSEL          108576
Jean LASSALLE           162559
Jean-Luc MÉLENCHON      778526
Marine LE PEN          1042771
Nathalie ARTHAUD         24606
Nicolas DUPONT-AIGNAN    91164
Philippe POUTOU          33409
Valérie PÉCRESSE        197878
Yannick JADOT           171295
Éric ZEMMOUR            289060

In [14]:
b = cluster2_data.groupby(['Candidat']).agg('Exprimés').sum()
b

Candidat
Anne HIDALGO             4042874
Emmanuel MACRON          4042874
Fabien ROUSSEL           4042874
Jean LASSALLE            4042874
Jean-Luc MÉLENCHON       4042874
Marine LE PEN            4042874
Nathalie ARTHAUD         4042874
Nicolas DUPONT-AIGNAN    4042874
Philippe POUTOU          4042874
Valérie PÉCRESSE         4042874
Yannick JADOT            4042874
Éric ZEMMOUR             4042874
Name: Exprimés, dtype: int64

In [16]:
vote2['proportion']= vote2['Voix']*100/4042874
vote2

                          Voix  proportion
Candidat
Anne HIDALGO             75311    1.862808
Emmanuel MACRON        1067719   26.409900
Fabien ROUSSEL          108576    2.685614
Jean LASSALLE           162559    4.020877
Jean-Luc MÉLENCHON      778526   19.256747
Marine LE PEN          1042771   25.792815
Nathalie ARTHAUD         24606    0.608626
Nicolas DUPONT-AIGNAN    91164    2.254931
Philippe POUTOU          33409    0.826368
Valérie PÉCRESSE        197878    4.894488
Yannick JADOT           171295    4.236961
Éric ZEMMOUR            289060    7.149864

In [17]:
#cluster 3
cluster3_data=data.loc[data["cluster"]==2]
cluster3_data

,Code du département,Code de la commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Name,Voix,latitude,longitude,cluster,Candidat
11584,83.0,83001.0,1063,277,786,3,3,780,7,28,43.525620,6.814189,2,Nicolas DUPONT-AIGNAN
11585,83.0,83002.0,201,56,145,1,1,143,3,9,43.775797,6.241783,2,Jean LASSALLE
11586,83.0,83003.0,783,201,582,10,3,569,7,19,43.603921,6.379346,2,Nicolas DUPONT-AIGNAN
11587,83.0,83004.0,1053,241,812,0,10,802,0,12,43.468723,6.482606,2,Anne HIDALGO
11588,83.0,83004.0,920,239,681,10,5,666,0,7,43.468723,6.482606,2,Anne HIDALGO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721588,92.0,92046.0,703,192,511,7,0,504,0,5,48.812052,2.281677,2,Anne HIDALGO
721589,92.0,92046.0,1055,248,807,7,7,793,4,351,48.817420,2.294086,2,Jean-Luc MÉLENCHON
721590,92.0,92046.0,1055,248,807,7,7,793,0,12,48.817420,2.294086,2,Anne HIDALGO
721591,92.0,92047.0,1253,180,1073,3,0,1070,1,492,48.830011,2.174675,2,Emmanuel MACRON
721592,92.0,92048.0,836,120,716,2,1,713,2,6,48.812543,2.238808,2,Fabien ROUSSEL

In [18]:
candidat_data = cluster3_data.groupby(['Candidat']).agg('Voix').sum()
candidat_data.sort_index(ascending=False)

Candidat
Éric ZEMMOUR              418232
Yannick JADOT             250019
Valérie PÉCRESSE          292052
Philippe POUTOU            39829
Nicolas DUPONT-AIGNAN     112810
Nathalie ARTHAUD           30550
Marine LE PEN            1085438
Jean-Luc MÉLENCHON       1659741
Jean LASSALLE             122325
Fabien ROUSSEL            112585
Emmanuel MACRON          1575743
Anne HIDALGO               84542
Name: Voix, dtype: int64

In [19]:
vote3= pd.DataFrame(candidat_data)
vote3

                          Voix
Candidat
Anne HIDALGO             84542
Emmanuel MACRON        1575743
Fabien ROUSSEL          112585
Jean LASSALLE           122325
Jean-Luc MÉLENCHON     1659741
Marine LE PEN          1085438
Nathalie ARTHAUD         30550
Nicolas DUPONT-AIGNAN   112810
Philippe POUTOU          39829
Valérie PÉCRESSE        292052
Yannick JADOT           250019
Éric ZEMMOUR            418232

In [20]:
c = cluster3_data.groupby(['Candidat']).agg('Exprimés').sum()
c

Candidat
Anne HIDALGO             5783866
Emmanuel MACRON          5783866
Fabien ROUSSEL           5783866
Jean LASSALLE            5783866
Jean-Luc MÉLENCHON       5783866
Marine LE PEN            5783866
Nathalie ARTHAUD         5783866
Nicolas DUPONT-AIGNAN    5783866
Philippe POUTOU          5783866
Valérie PÉCRESSE         5783866
Yannick JADOT            5783866
Éric ZEMMOUR             5783866
Name: Exprimés, dtype: int64

In [22]:
vote3['proportion']= vote3['Voix']*100/5783866
vote3

                          Voix  proportion
Candidat
Anne HIDALGO             84542    1.461687
Emmanuel MACRON        1575743   27.243767
Fabien ROUSSEL          112585    1.946535
Jean LASSALLE           122325    2.114935
Jean-Luc MÉLENCHON     1659741   28.696049
Marine LE PEN          1085438   18.766652
Nathalie ARTHAUD         30550    0.528193
Nicolas DUPONT-AIGNAN   112810    1.950426
Philippe POUTOU          39829    0.688622
Valérie PÉCRESSE        292052    5.049425
Yannick JADOT           250019    4.322697
Éric ZEMMOUR            418232    7.231011

In [23]:
#cluster 4
cluster4_data=data.loc[data["cluster"]==3]
cluster4_data

,Code du département,Code de la commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Name,Voix,latitude,longitude,cluster,Candidat
0,55.0,55535.0,44,11,33,0,0,33,11,3,49.317453,5.647972,3,Éric ZEMMOUR
1,55.0,55535.0,44,11,33,0,0,33,4,5,49.317453,5.647972,3,Jean-Luc MÉLENCHON
2,55.0,55535.0,44,11,33,0,0,33,9,1,49.317453,5.647972,3,Valérie PÉCRESSE
3,55.0,55545.0,808,329,479,17,3,459,8,8,49.160479,5.378136,3,Philippe POUTOU
4,55.0,55545.0,1318,499,819,14,5,800,2,25,49.150832,5.400586,3,Fabien ROUSSEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724003,62.0,62796.0,459,78,381,6,3,372,0,7,50.258141,2.643003,3,Anne HIDALGO
724004,62.0,62801.0,1205,299,906,9,2,895,0,25,50.391562,2.742967,3,Anne HIDALGO
724005,62.0,62803.0,440,75,365,6,4,355,3,13,50.742017,1.919849,3,Jean LASSALLE
724006,62.0,62803.0,440,75,365,6,4,355,7,9,50.742017,1.919849,3,Nicolas DUPONT-AIGNAN
724007,62.0,62808.0,213,30,183,1,1,181,7,2,50.451688,2.222171,3,Nicolas DUPONT-AIGNAN

In [24]:
candidat_data = cluster4_data.groupby(['Candidat']).agg('Voix').sum()
candidat_data.sort_index(ascending=False)

Candidat
Éric ZEMMOUR              393152
Yannick JADOT             254762
Valérie PÉCRESSE          268398
Philippe POUTOU            52240
Nicolas DUPONT-AIGNAN     129280
Nathalie ARTHAUD           42136
Marine LE PEN            1798506
Jean-Luc MÉLENCHON       1200664
Jean LASSALLE             226459
Fabien ROUSSEL            175207
Emmanuel MACRON          1785937
Anne HIDALGO              107961
Name: Voix, dtype: int64

In [25]:
vote4= pd.DataFrame(candidat_data)
vote4

                          Voix
Candidat
Anne HIDALGO            107961
Emmanuel MACRON        1785937
Fabien ROUSSEL          175207
Jean LASSALLE           226459
Jean-Luc MÉLENCHON     1200664
Marine LE PEN          1798506
Nathalie ARTHAUD         42136
Nicolas DUPONT-AIGNAN   129280
Philippe POUTOU          52240
Valérie PÉCRESSE        268398
Yannick JADOT           254762
Éric ZEMMOUR            393152

In [26]:
d = cluster4_data.groupby(['Candidat']).agg('Exprimés').sum()
d

Candidat
Anne HIDALGO             6434702
Emmanuel MACRON          6434702
Fabien ROUSSEL           6434702
Jean LASSALLE            6434702
Jean-Luc MÉLENCHON       6434702
Marine LE PEN            6434702
Nathalie ARTHAUD         6434702
Nicolas DUPONT-AIGNAN    6434702
Philippe POUTOU          6434702
Valérie PÉCRESSE         6434702
Yannick JADOT            6434702
Éric ZEMMOUR             6434702
Name: Exprimés, dtype: int64

In [28]:
vote4['proportion']= vote4['Voix']*100/6434702
vote4

                          Voix  proportion
Candidat
Anne HIDALGO            107961    1.677793
Emmanuel MACRON        1785937   27.754774
Fabien ROUSSEL          175207    2.722846
Jean LASSALLE           226459    3.519339
Jean-Luc MÉLENCHON     1200664   18.659201
Marine LE PEN          1798506   27.950106
Nathalie ARTHAUD         42136    0.654824
Nicolas DUPONT-AIGNAN   129280    2.009106
Philippe POUTOU          52240    0.811848
Valérie PÉCRESSE        268398    4.171102
Yannick JADOT           254762    3.959189
Éric ZEMMOUR            393152    6.109871

In [30]:
#cluster 5
cluster5_data=data.loc[data["cluster"]==4]
cluster5_data

,Code du département,Code de la commune,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Name,Voix,latitude,longitude,cluster,Candidat
2975,44.0,44162.0,797,232,565,5,5,555,9,15,47.227082,-1.625284,4,Valérie PÉCRESSE
2976,44.0,44162.0,643,192,451,6,2,443,11,35,47.227082,-1.625284,4,Éric ZEMMOUR
2977,44.0,44162.0,638,225,413,1,1,411,2,20,47.227082,-1.625284,4,Fabien ROUSSEL
2978,44.0,44162.0,798,163,635,7,0,628,2,23,47.227082,-1.625284,4,Fabien ROUSSEL
2979,44.0,44162.0,798,163,635,7,0,628,7,11,47.227082,-1.625284,4,Nicolas DUPONT-AIGNAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721673,45.0,45186.0,396,82,314,5,2,307,2,2,48.055426,2.533747,4,Fabien ROUSSEL
721674,45.0,45186.0,396,82,314,5,2,307,10,6,48.055426,2.533747,4,Yannick JADOT
721675,45.0,45187.0,1041,254,787,12,7,768,1,191,47.877880,2.511353,4,Emmanuel MACRON
721676,45.0,45187.0,1008,274,734,8,4,722,6,7,47.877880,2.511353,4,Nathalie ARTHAUD
721677,45.0,45188.0,1024,205,819,8,4,807,9,43,48.002426,2.093073,4,Valérie PÉCRESSE

In [31]:
candidat_data = cluster5_data.groupby(['Candidat']).agg('Voix').sum()
candidat_data.sort_index(ascending=False)

Candidat
Éric ZEMMOUR              517249
Yannick JADOT             410172
Valérie PÉCRESSE          350747
Philippe POUTOU            65093
Nicolas DUPONT-AIGNAN     155442
Nathalie ARTHAUD           42892
Marine LE PEN            1761990
Jean-Luc MÉLENCHON       1693516
Jean LASSALLE             284617
Fabien ROUSSEL            187548
Emmanuel MACRON          2191536
Anne HIDALGO              166182
Name: Voix, dtype: int64

In [32]:
vote5= pd.DataFrame(candidat_data)
vote5

                          Voix
Candidat
Anne HIDALGO            166182
Emmanuel MACRON        2191536
Fabien ROUSSEL          187548
Jean LASSALLE           284617
Jean-Luc MÉLENCHON     1693516
Marine LE PEN          1761990
Nathalie ARTHAUD         42892
Nicolas DUPONT-AIGNAN   155442
Philippe POUTOU          65093
Valérie PÉCRESSE        350747
Yannick JADOT           410172
Éric ZEMMOUR            517249

In [33]:
e = cluster5_data.groupby(['Candidat']).agg('Exprimés').sum()
e

Candidat
Anne HIDALGO             7826984
Emmanuel MACRON          7826984
Fabien ROUSSEL           7826984
Jean LASSALLE            7826984
Jean-Luc MÉLENCHON       7826984
Marine LE PEN            7826984
Nathalie ARTHAUD         7826984
Nicolas DUPONT-AIGNAN    7826984
Philippe POUTOU          7826984
Valérie PÉCRESSE         7826984
Yannick JADOT            7826984
Éric ZEMMOUR             7826984
Name: Exprimés, dtype: int64

In [35]:
vote5['proportion']= vote5['Voix']*100/7826984
vote5

                          Voix  proportion
Candidat
Anne HIDALGO            166182    2.123193
Emmanuel MACRON        2191536   27.999751
Fabien ROUSSEL          187548    2.396172
Jean LASSALLE           284617    3.636356
Jean-Luc MÉLENCHON     1693516   21.636891
Marine LE PEN          1761990   22.511736
Nathalie ARTHAUD         42892    0.548002
Nicolas DUPONT-AIGNAN   155442    1.985976
Philippe POUTOU          65093    0.831649
Valérie PÉCRESSE        350747    4.481254
Yannick JADOT           410172    5.240486
Éric ZEMMOUR            517249    6.608535